@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: bold;
  }
  h1 {
      font-size: 1.5rem;
  }
  h2 {
      font-size: 2rem;
  }
  h3 {
      font-size: 1.75rem;
  }
  p{
    @apply leading-6
  }
}

body {
  @apply bg-repeat;
  background-image: url('/img/logo.svg');
  background-color: rgba(255, 238, 238, 0.363);
  background-size: 20%;
}

.btn{
  @apply rounded-full border-2 border-primary/50;
}


